

<section>
  <div class="container">
    <div class="row">

      <h2>OUR COURSES:</h2>
    </div>
    <div class="col-lg-3 course-h">
      <div class="courses animated  ">
        <a href="#"><img src="https://cdn-images-1.medium.com/max/1600/1*-sXPcA6dNWFaI9Cx69QXAw.jpeg" width="250"
            height="100">
          <h3>JAVA COURSE:</h3>
          <p>Java is computer-programming language that is concurrent, class-based, object-oriented, and specifically
            designed to have as few implementation dependencies as possible. </p>
        </a>
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="courses  animated  fadeInLeft">

        <a href="#">
          <img src="https://assets.exercism.io/tracks/cpp-bordered-turquoise.png" width="250" height="100">
          <h3>C++:</h3>
          <p>Data warehouse (EDW), is a system used for reporting and data analysis, and is considered a core component
            of business intelligence. </p>
        </a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="courses animated  fadeInRight">
        <a href="#">
          <img src="https://static.javatpoint.com/images/javascript/javascript_logo.png" width="250" height="150">
          <h3>JAVASCRIPT COURSE:</h3>
          <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide
            Web). </p>
        </a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="courses animated  fadeInRight">
        <a href="#"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcHvYj23RDr3eqEjFQpY5joU8wjVOTdfhc4U5dcK0ObBL_RAd_"
            width="250" height="150">
          <h3>DATA STRUCTURE COURSE: </h3>
          <p>The Spring Framework is an application framework and inversion of control container for the Java platform.
          </p>
        </a></div>
    </div>

  </div>
</section>